body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #ecf0f1;
  font-family: "Roboto Condensed";
}

button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
    font-size: 3.5rem;
    background: linear-gradient(to right, #a44ca1, #7d62a1, #573f80, #2e1f3e); 
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s;
    text-align: center;
  }
  
  h1:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
  }
.top p {
  font-size: 2.5rem;
}
#quote {
  font-size: 1.5rem;
  font-family: "Playfair Display" !important;
  text-wrap: wrap;
  text-align: center;
}
#author {
  text-align: right;
  font-size: 1rem;
  margin-right: 1.5rem;
}
.bottom {
  margin-top: 2.75rem;
}
